body {
    width:70%;
    margin: auto;
    background-color: black;
    
  

    background: url(../WEB-INF/ conversion1.jpg);
    background-size: cover;
    text-align: center;
}
@media screen and (min-width: 600px) {
    body {       
    }
}

h1 {
    background-color: darkblue;
    color: white;
    text-align: center;
}

nav li {
    display: inline-block;
    padding: 24px;
}

.menuSuperior {
    font-size: xx-large;
}

li {
    text-align: center;
}

  img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
  }

  footer a {
    color: white;
}

ul {
    color: white;
}

p {
    color: white;
}

h2 {
    color: white;
}

a {
    color: white;
}

h3 {
    color: white;
}

h4 {
    color: white;
}

